*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8; 
    position: relative;
    padding-top: 1px;
}
#nav{
    height: 10vh;
    width: 100%;
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 40px;
    letter-spacing: -2px;
}
#nav h2{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 18px;
    font-weight: 500;
}
#nav h2:nth-last-child(1){
    border-right: none;
    width: 10%;
}
#center{
    width: 100%;
    height: calc(100vh - 10vh - 21px );
    padding: 3vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2vw 4vw; 
}
#overlay #over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f8f8;
}
#overlay #over1 h1{
    font-family: monument;
    font-size: 4vw;
    width: 50%;
}
#overlay #over1 h2{
    padding: 2vw 2.2vw ;
    border: 2px solid #fff;
    border-radius: 50%;
}
/* #overlay #over1 h1, h2{
    mix-blend-mode: difference;
} */
#overlay #over2{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f8f8;
    border-top: 2px solid #fff;
}
/*#overlay #over2 h1, img{
    mix-blend-mode: difference;
} */
#over2 img{
    height: 40px;
}