*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8; 
    position: relative;
    padding-top: 1px;
}
#nav{
    height: 10vh;
    width: 100%;
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 40px;
    letter-spacing: -2px;
}
#nav h2{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 18px;
    font-weight: 500;
}
#nav h2:nth-last-child(1){
    border-right: none;
    width: 10%;
}
#center{
    width: 100%;
    height: calc(100vh - 10vh - 21px );
    padding: 3vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1vw 4vw;
    background-color: rgba(0, 0, 0, 0.081);
    /* backdrop-filter: blur(5px); */
}
#overlay #over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f8f8;
}
#overlay #over1 h1{
    font-family: monument;
    font-size: 4vw;
    width: 50%;
}
#overlay #over1 h2{
    padding: 2vw 2.2vw ;
    border: 2px solid #fff;
    border-radius: 50%;
}
/* #overlay #over1 h1, h2{
    mix-blend-mode: difference;
} */
#overlay #over2{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f8f8;
    border-top: 2px solid #fff;
}
/*#overlay #over2 h1, img{
    mix-blend-mode: difference;
} */
#over2 img{
    height: 40px;
}
#page2{
    height: 150vh;
    width: 100%;
}
#scroll{
    height: 50vh;
    width: 100%;
    padding: 5vh;
    /* white-space: nowrap; */
    display: flex;
    overflow-x: hidden;
}
#scroll #scroll-container {
    height: 100%;
    width: fit-content;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    animation-name: scroll-container;
    animation-duration: 10s;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 3vw;
}
@keyframes scroll-container{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: #000; */
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
    border-bottom: 2px solid #000;
    margin-right: 2vw;
}
#alphabet h6{ 
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0.5vw 0.7vw ;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #00000000;
    /* background-color: aquamarine; */
}
#alphabet h6:hover{
    border: 2px solid #000;
}
#container{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 3vw;
    position: relative;
    /* gap: 2vw */
}
#container #part1{
    width: 50%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1673757121102-0ca51260861f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#container #part2{
    width: 45%;
    height: 100%;
}
#container #part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#container #part2 #part2-text{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 1vw;
}
#part2 #part2-text h2{
    font-size: 25px;
    width: 35%;
}
#part2 #part2-text p{
    width: 70%;
    font-size: 15px;
}
